<%-include partials/header.ejs%>
<%-include partials/main_nav.ejs%>
<style>
   .common{
       background-color: #CBC3E3;
   }
</style>  

<body class="common"> 
   <center> 
  <h1><%= title %></h1>
   <p>Welcome to <%= title %></p>
<p>Welcome! This is my Home Page.</p>
<p>This is my first page to show my virtual presence.</p>
<br>
<p>I am really glad you came by and checked out my website.
   You can know more about me <a href="/about">here</a>
</p>
<br><br><br>
        <strong>Mission</strong><br>
        <p>I am currently a software development student passionate about SQL and web design.<br>
        I am intersted in working for a company that would make utilization of my full potential.<br>
        I am currently open to work anywhere </p>
   <%-include partials/bottom_nav.ejs%>
<%-include partials/footer.ejs%> 
        </center>  
</body>
